%h1 アカウント登録


= form_with model: @user do |user|
  .user_name
    = user.label "ニックネーム"
    = user.text_field :name
  .user_email
    = user.label "email"
    = user.text_field :email
  .user_pass
    = user.label "パスワード"
    = user.text_field :password
  .user.check_pass
    = user.label "確認用パスワード"
    = user.text_field :password_confirmation
  = user.submit "登録"