= link_to "新規登録", new_user_path
= link_to "ログアウト", logout_path

.user_results
  = "#{current_user.name}さんの成果一覧"

.post_result
  = link_to "投稿する", new_result_path

.post_goal
  = link_to "目標を設定する", new_goal_path

- @user.results.each do |result|
  .your_result
    = result.challenge_day
    = result.name
    = "#{result.count}回"
    - if logged_in? && current_user.id == result.user_id
      = link_to "編集", edit_result_path(result.id)
      = link_to "削除", result_path(result.id), data: {confirm: "本当に削除しますか？"}, method: :delete
