.result_form
  = form_with model: @result do |form|
    .form_challenge_day
      = form.datetime_field :challenge_day
    .form_name
      = form.collection_select(:name, current_user.goals, :name, :name)
    .form_count
      = form.text_field :count, placeholder: "どれくらいしましたか？"
    .form_sub
      = form.submit "更新"


.back_btn
  = link_to "マイページに戻る", user_path(current_user.id)