%h2 あなたの成果

= link_to "マイページ", user_path(current_user.id)

- @results.each do |result|
  .your_result
    = result.challenge_day
    = result.name
    = "#{result.count}回"
    - if logged_in? && current_user.id == result.user_id
      = link_to "編集", edit_result_path(result.id)
      = link_to "削除", result_path(result.id), data: {confirm: "本当に削除しますか？"}, method: :delete