.your_target
  .back_btn
    = link_to "マイページ", user_path(current_user.id)
  .target_form
    = form_with model: @goal do |goal|
      .label
        = goal.label :deadline, "期限"
      .form
        = goal.datetime_field :deadline
      .label
        = goal.label :name, "項目"
      .form
        = goal.text_field :name
      .label
        = goal.label :count, "回数"
      .form
        = goal.text_field :count
      .label
        = goal.label :pass, "達成できたら"
      .form
        = goal.text_field :pass
      .label
        = goal.label :fail, "失敗したら"
      .form
        =goal.text_field :fail
      .goal_sub
        = goal.submit "更新"